* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff6900;
    height: 8vh;
    z-index: 3;
}

header figure {
    height: 100%;
    padding: 20px;
}

figure img {
    height: 100%;
}


nav {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 100%;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    flex-basis: 25%;
}

nav ul:nth-of-type(2){
    justify-content: flex-end;
}

main {
    position: relative;
    top: 8vh;
    width: 60%;
    height: 100vh;
    margin: 0 auto;
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-block: 50px;
    row-gap: 40px;
}

/*------------------- codice carte -----------------*/
.card-container {
    height: 500px;
    width: calc(100% / 3 -40px);
}

.card-container figure {
    height: 90%;
    position: relative;
}

.sconto {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 3px;
    position: absolute;
    left: 0;
    bottom: 30px;
}

.sost {
    background-color: green;
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 30px;
    left: 50px;
    padding: 3px;
}

.card-container .text-container {
    height: 10%;
    width: 80%;
}

.text-container .marca {
    font-weight: 300;
    font-size: 14px;
}

.text-container .modello {
    text-transform: uppercase;
    font-size: 15px;
}

.prezzo {
    color: red;
    font-weight: bold;
}

figure img {
    height: 100%;
    width: 100%;
}

#noshow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

#noshow:hover {
    opacity: 1;
}


figure button {
    background-color: white;
    position: absolute;
    padding: 10px;
    border: none;
    top: 10px;
    right: 0px;
    z-index: 2;
}

figure button svg:hover {
    fill: red;
    cursor: pointer;
}