*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ff6900;
    height: 8vh;
} 

header figure{
    height: 100%;
    padding: 20px;
}

figure img {
    height: 100%;
}


nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 100%;
   font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

